### 전국 푸드프럭 허가구역 표준 데이터
- 전국/ 지자체별 푸드프럭 허가구역 갯수
- 전국/ 지자체별 푸드트럭 운영 대수

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pop_df= []

pop_df = pd.read_csv('전국푸드트럭허가구역표준데이터.csv', encoding ='cp949')

pop_df = pop_df[['시도명', '푸드트럭운영대수']] #drop할게 많을 때는 그냥 내가 필요한 데이터만 가지고 온다
#print(pop_df[['시도명', '푸드트럭운영대수']]) 
print(pop_df.head())
#for i in enumerate(pop_df.columns):
#    print(i)

     시도명  푸드트럭운영대수
0  부산광역시       1.0
1  부산광역시       1.0
2  부산광역시       1.0
3    경기도       NaN
4    경기도       NaN

In [8]:
print(pop_df)

       시도명  푸드트럭운영대수
0    부산광역시       1.0
1    부산광역시       1.0
2    부산광역시       1.0
3      경기도       NaN
4      경기도       NaN
..     ...       ...
337    경기도       1.0
338    경기도       1.0
339    경기도       1.0
340    경기도       1.0
341    경기도       1.0

[342 rows x 2 columns]

In [17]:
pop_df['푸드트럭운영대수']=(pop_df['푸드트럭운영대수'].replace(np.NaN,0.0))

print(pop_df)

       시도명  푸드트럭운영대수
0    부산광역시       1.0
1    부산광역시       1.0
2    부산광역시       1.0
3      경기도       0.0
4      경기도       0.0
..     ...       ...
337    경기도       1.0
338    경기도       1.0
339    경기도       1.0
340    경기도       1.0
341    경기도       1.0

[342 rows x 2 columns]

In [ ]:
national_site_count = pop_df.shape[0]
pop_df['시도명'].value_counts()

In [20]:
pop_df['푸드트럭운영대수'].sum()

444.0

In [21]:
sub_data = pop_df[['시도명', '푸드트럭운영대수']]
sub_data.groupby('시도명').sum()

         푸드트럭운영대수
시도명
강원도          25.0
경기도         136.0
경상남도         57.0
경상북도         17.0
광주광역시        14.0
대구광역시         4.0
대전광역시        12.0
부산광역시        17.0
서울특별시        35.0
울산광역시         1.0
인천광역시         9.0
전라남도         29.0
전라북도         10.0
제주특별자치도      41.0
충청남도         30.0
충청북도          7.0