### 전국일방통행표준데이터
- 데이터 전처리과정
시도명, 지정사유, 지정연도, 도로폭, 도로차로수, 보차분리여부

- 결측치 처리 (column 개별기준)
- 오류치 처리 (unit의 차이)
- 이상치 처리 (iqr 사용)
- 전처리 내용 정리

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
rd_data= []

rd_rowdata= pd.read_csv('전국일방통행도로표준데이터.csv', encoding ='cp949')

In [11]:
print(rd_rowdata.columns)
for e in enumerate(rd_rowdata.columns):
    print(e)

Index(['시도명', '시군구명', '도로명', '지정사유', '지정연도', '도로폭', '도로연장', '도로차로수', '보차분리여부',
       '시작점위도', '시작점경도', '종료점위도', '종료점경도', '도로안내표지일련번호', '관리기관명', '관리기관전화번호',
       '데이터기준일자', '제공기관코드', '제공기관명'],
      dtype='object')
(0, '시도명')
(1, '시군구명')
(2, '도로명')
(3, '지정사유')
(4, '지정연도')
(5, '도로폭')
(6, '도로연장')
(7, '도로차로수')
(8, '보차분리여부')
(9, '시작점위도')
(10, '시작점경도')
(11, '종료점위도')
(12, '종료점경도')
(13, '도로안내표지일련번호')
(14, '관리기관명')
(15, '관리기관전화번호')
(16, '데이터기준일자')
(17, '제공기관코드')
(18, '제공기관명')

In [12]:
column_selection = ['시도명', '지정사유', '지정연도', '도로폭', '도로차로수', '보차분리여부']
rd_data = rd_rowdata[column_selection]
del rd_rowdata

In [16]:

print(rd_data.columns)
print(rd_data.dtypes)

rd_data['시도명'] = rd_data['시도명'].astype('category')
rd_data['도로차로수'] = rd_data['도로차로수'].astype('category')
rd_data.describe(include='all')

Index(['시도명', '지정사유', '지정연도', '도로폭', '도로차로수', '보차분리여부'], dtype='object')
시도명       category
지정사유        object
지정연도       float64
도로폭        float64
도로차로수     category
보차분리여부      object
dtype: object

          시도명              지정사유         지정연도          도로폭   도로차로수 보차분리여부
count    2159               592   550.000000  2159.000000  2158.0   2159
unique     13                31          NaN          NaN     6.0      3
top     서울특별시  차량소통 촉진 및 보행자 안전          NaN          NaN     1.0      N
freq      755               165          NaN          NaN  2042.0   1657
mean      NaN               NaN  2006.456364     5.917508     NaN    NaN
std       NaN               NaN     8.160330     2.297448     NaN    NaN
min       NaN               NaN  1990.000000     2.000000     NaN    NaN
25%       NaN               NaN  1999.000000     4.000000     NaN    NaN
50%       NaN               NaN  2002.000000     6.000000     NaN    NaN
75%       NaN               NaN  2016.000000     7.000000     NaN    NaN
max       NaN               NaN  2022.000000    32.000000     NaN    NaN

In [18]:
#결측치 확인 

for e in rd_data:
    print(e, rd_data[e].hasnans)
    if rd_data[e].hasnans ==True:
        print(rd_data[e].isna().value_counts())

시도명 False
지정사유 True
True     1567
False     592
Name: 지정사유, dtype: int64
지정연도 True
True     1609
False     550
Name: 지정연도, dtype: int64
도로폭 False
도로차로수 True
False    2158
True        1
Name: 도로차로수, dtype: int64
보차분리여부 False

In [22]:
#도로차로수 결측치 확인 

rd_data.replace({'도로차로수':'Y', '도로차로수':np.NaN}, 1, inplace=True)
rd_data.replace({'도로차로수':'N', '도로차로수':np.NaN}, 0, inplace=True)

print(rd_data['도로차로수'].isna().value_counts())

False    2158
True        1
Name: 도로차로수, dtype: int64