In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd_data = pd.read_csv('내국인출국교통수단별_20230302165050.csv', encoding='cp949', header=1)
pd_data.columns = ['시점', '공항', '항구']
pd_data.head()

#공항, 항구 년중 월별 출국 인원 plot
#normalization / standardization 적용, plot
#2018부터 2022년까지 추이 보기
#2022년 연말 공항 이용객이 증가하였음
#연말에 출국 인원이 늘어난 것이 항구 출국인원에도 반영이 되었는가
# 연말에 출국인원이 증가하는 것이 일반적인 추이인가  --> 코로나 이전/이후 연도별 추이

        시점    공항    항구
0  2022.01   938  3279
1  2022.02   855  3179
2  2022.03   986  3418
3  2022.04  1823  3158
4  2022.05  3418  3231

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd_data = pd.read_csv('내국인출국교통수단별_20230302171244.csv', encoding='cp949', header=1)
pd_data.columns = ['시점', '공항', '항구']
print(pd_data.head())
print(pd_data.shape)


#공항, 항구 년중 월별 출국 인원 plot
#normalization / standardization 적용, plot
#2018부터 2022년까지 추이 보기

        시점      공항     항구
0  2015.01  226687  50545
1  2015.02  173950  44152
2  2015.03  175351  36822
3  2015.04  195851  46589
4  2015.05  199356  54680
(96, 3)

In [22]:
#pd_data['시점'].value_counts
#pd_data['공항'].value_counts
pd_data['항구'].value_counts

<bound method IndexOpsMixin.value_counts of 0     50545
1     44152
2     36822
3     46589
4     54680
      ...
91     3533
92     2682
93     3494
94     3687
95     5760
Name: 항구, Length: 96, dtype: int64>

In [ ]:
pd_data.dtypes
yr = (pd_data)
ms = (pd_data['시점']%1)*100
#print(ms)

str_time = pd_data['시점'].astype('str')
yr = str_time.apply(lambda x: x.split(',')[0])
ms = str_time.apply(lambda x: x.split(',')[1])
#print(ms)

print(pd_data['시점'])
#dt_time = pd.to_datetime(pd_data['시점'])